@{
    ViewData["Title"] = "Página Inicial - Sistema de Reservas de Hotéis";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 text-dark">Bem-vindo ao Sistema de Hotéis</h1>
        <p class="lead text-dark">Descubra hotéis incríveis</p>
        <p class="lead text-dark">Explore nossas opções de hospedagem e planeje a sua próxima estadia!</p>
    </div>
</div>